#gravatar {
    width: 100px;
    height: 100px;
    float: left;
}

#header_wrap .inner {
    padding: 0;
}

#project_title {
    margin-left: 120px;
}

#project_tagline {
    margin-left: 120px;
    margin-top: auto;
    width: 250px;
    font-size: 22px !important;
}

#nav {
    clear: left;
}

#nav .symbol {
    font-size: 40px;
}

#twitter-icon {
    color: #C0DEED;
}

#facebook-icon {
    color: #4c66a4;
}

#github-icon {
    color: #f3f3f3;
}

#linkedin-icon {
    color: #069;
}

#stackoverflow-icon {
    color: #FF7B14;
}

#email-icon {
    color: #F9D114;
}

#nav li {
    display: inline-block;
    padding: 0;
    margin-right: 10px;
}

/* BEGIN social icon fonts */
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
/* END social icon fonts */
