<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="mattcaldwell: adventurer, technologist, web developer at Celerity" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/mattcaldwell.css">

    <title>mattcaldwell</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <div id="header_tag">
            <img id="gravatar" src="https://1.gravatar.com/avatar/832fa6c0a278037763bddbb71142cab5?d=https%3A%2F%2Fidenticons.github.com%2F844f79ce39d7c0bf3cc6b86436558645.png&r=x&s=440"></img>
            <h1 id="project_title">mattcaldwell</h1>
            <h2 id="project_tagline">adventurer, technologist, web developer <a target="_blank" href="https://twitter.com/CelerityITLLC">@Celerity</a></h2>
          </div>
          <ul id="nav">
            <li>
                <a href="https://twitter.com/mattcaldwell" target="_blank">
                    <span id="twitter-icon" class="symbol">circletwitterbird</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/matt.caldwell" target="_blank">
                    <span id="facebook-icon" class="symbol">circlefacebook</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/mattcaldwell" target="_blank">
                    <span id="github-icon" class="symbol">circlegithub</span>
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/in/matthewtcaldwell/" target="_blank">
                    <span id="linkedin-icon" class="symbol">circlelinkedin</span>
                </a>
            </li>
            <li>
                <a href="http://stackoverflow.com/users/163789/matt-caldwell" target="_blank">
                    <span id="stackoverflow-icon" class="symbol">circlestackoverflow</span>
                </a>
            </li>
            <li>
                <a href="mailto:matt.caldwell@gmail.com?subject=getting%20in%20touch%20via%20your%20github%20website"
                   title="getting in touch via your github website">
                    <span id="email-icon" class="symbol">circleemail</span>
                </a>
            </li>
          </ul>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
          <section id="inspiration">
            <h3>"Life is either a daring adventure or nothing." -Hellen Keller</h3>
          </section>

          <section id="navigation">
            <div class="nav-box"><a href="javascript:alert('stay tuned!')">Projects</a></div>
            <div class="nav-box"><a href="javascript:alert('stay tuned!')">Contact</a></div>
          </section>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Copyright &copy; 2014 Matt Caldwell.&nbsp;&nbsp;All rights reserved.</p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
